In [34]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import math as m

In [35]:
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_selection import RFE

In [36]:
df = pd.read_csv(r'E:\NEU\ML Ops\Project\StockPricePrediction\data\final_dataset.csv')

c:\Users\kandi\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (7,8,9,10,11,14,15,16,17,18,19,20,21,23,24,25,26,27,28,29,30,31,32,33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [37]:
# df = pd.read_csv('final_dataset.csv')

In [38]:
df

             date  Mkt-RF  SMB  HML  RMW  CMA  RF DGS10 RIFSPPFAAD90NB DGS1 CBETHUSD  DBAA  USRECDP  USRECD DCPN3M DCPF1M  DAAA T10Y3M BAMLH0A0HYM2 T10YIE DHHNGSP AMERIBOR  USRECDM  CBBTCUSD DEXUSUK DCOILWTICO VIXCLS DEXJPUS DEXUSEU T5YIE OBMMIJUMBO30YF NIKKEI225 BAMLH0A0HYM2EY DCOILBRENTEU  ads_index        open        high         low       close      volume  dividends  stock_splits  SP500
0      1854-12-01     NaN  NaN  NaN  NaN  NaN NaN   NaN            NaN  NaN      NaN   NaN      0.0     1.0    NaN    NaN   NaN    NaN          NaN    NaN     NaN      NaN      1.0       NaN     NaN        NaN    NaN     NaN     NaN   NaN            NaN       NaN            NaN          NaN        NaN         NaN         NaN         NaN         NaN         NaN        NaN           NaN    NaN
1      1854-12-02     NaN  NaN  NaN  NaN  NaN NaN   NaN            NaN  NaN      NaN   NaN      0.0     1.0    NaN    NaN   NaN    NaN          NaN    NaN     NaN      NaN      1.0       NaN     NaN        NaN    NaN     NaN     NaN   NaN            NaN       NaN            NaN          NaN        NaN         NaN         NaN         NaN         NaN         NaN        NaN           NaN    NaN
2      1854-12-03     NaN  NaN  NaN  NaN  NaN NaN   NaN            NaN  NaN      NaN   NaN      0.0     1.0    NaN    NaN   NaN    NaN          NaN    NaN     NaN      NaN      1.0       NaN     NaN        NaN    NaN     NaN     NaN   NaN            NaN       NaN            NaN          NaN        NaN         NaN         NaN         NaN         NaN         NaN        NaN           NaN    NaN
3      1854-12-04     NaN  NaN  NaN  NaN  NaN NaN   NaN            NaN  NaN      NaN   NaN      0.0     1.0    NaN    NaN   NaN    NaN          NaN    NaN     NaN      NaN      1.0       NaN     NaN        NaN    NaN     NaN     NaN   NaN            NaN       NaN            NaN          NaN        NaN         NaN         NaN         NaN         NaN         NaN        NaN           NaN    NaN
4      1854-12-05     NaN  NaN  NaN  NaN  NaN NaN   NaN            NaN  NaN      NaN   NaN      0.0     1.0    NaN    NaN   NaN    NaN          NaN    NaN     NaN      NaN      1.0       NaN     NaN        NaN    NaN     NaN     NaN   NaN            NaN       NaN            NaN          NaN        NaN         NaN         NaN         NaN         NaN         NaN        NaN           NaN    NaN
...           ...     ...  ...  ...  ...  ...  ..   ...            ...  ...      ...   ...      ...     ...    ...    ...   ...    ...          ...    ...     ...      ...      ...       ...     ...        ...    ...     ...     ...   ...            ...       ...            ...          ...        ...         ...         ...         ...         ...         ...        ...           ...    ...
62051  2024-10-21     NaN  NaN  NaN  NaN  NaN NaN   NaN            NaN  NaN  2667.59  5.73      NaN     NaN    NaN    NaN  5.07  -0.54         2.88   2.31     NaN  4.89734      NaN  67332.48     NaN        NaN  18.37     NaN     NaN  2.23          6.763   38954.6           6.88          NaN        NaN  234.449997  236.850006  234.449997  236.479996  36254500.0        0.0           0.0    NaN
62052  2024-10-22     NaN  NaN  NaN  NaN  NaN NaN   NaN            NaN  NaN      NaN   NaN      NaN     NaN    NaN    NaN   NaN    NaN          NaN    NaN     NaN      NaN      NaN       NaN     NaN        NaN    NaN     NaN     NaN   NaN            NaN  38411.96            NaN          NaN        NaN  233.889999  236.220001  232.600006  235.860001  38846600.0        0.0           0.0    NaN
62053  2024-10-23     NaN  NaN  NaN  NaN  NaN NaN   NaN            NaN  NaN      NaN   NaN      NaN     NaN    NaN    NaN   NaN    NaN          NaN    NaN     NaN      NaN      NaN       NaN     NaN        NaN    NaN     NaN     NaN   NaN            NaN       NaN            NaN          NaN        NaN  234.080002  235.139999  227.759995  230.759995  52287000.0        0.0           0.0    NaN
62054  2024-10-24     NaN  NaN  NaN  NaN  NaN NaN   NaN            NaN  NaN      NaN   NaN      NaN     NaN    NaN    NaN   NaN    NaN          NaN    NaN     NaN      NaN      NaN       NaN     NaN        NaN    NaN     NaN     NaN   NaN            NaN       NaN            NaN          NaN        NaN  229.979996  230.820007  228.410004  230.570007  31109500.0        0.0           0.0    NaN
62055  2024-10-25     NaN  NaN  NaN  NaN  NaN NaN   NaN            NaN  NaN      NaN   NaN      NaN     NaN    NaN    NaN   NaN    NaN          NaN    NaN     NaN      NaN      NaN       NaN     NaN        NaN    NaN     NaN     NaN   NaN            NaN       NaN            NaN          NaN        NaN  229.740005  233.220001  229.570007  231.410004  38776700.0        0.0           0.0    NaN

[62056 rows x 43 columns]

In [39]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')
df.set_index('date', inplace=True)

In [40]:
# Step 2: Slice the data to include only dates after 2004-01-01
df = df.loc['2004-01-01':]

In [41]:
# List of columns to check for NaN values
columns_to_check = ['open', 'high', 'low', 'close', 'volume', 'SP500']

# Remove rows where all specified columns are NaN
df_cleaned = df.dropna(subset=columns_to_check, how='all')

In [42]:
df.describe()

            Mkt-RF          SMB          HML          RMW          CMA           RF      USRECDP       USRECD      USRECDM    ads_index         open         high          low        close        volume    dividends  stock_splits        SP500
count  5201.000000  5201.000000  5201.000000  5201.000000  5201.000000  5201.000000  7599.000000  7599.000000  7599.000000  7591.000000  1258.000000  1258.000000  1258.000000  1258.000000  1.258000e+03  1258.000000   1258.000000  2512.000000
mean      0.040711     0.000535    -0.001181     0.016435    -0.000094     0.005839     0.080011     0.080011     0.080274    -0.250928   146.176032   147.800565   144.654762   146.308836  9.266660e+07     0.003549      0.003180  3280.603420
std       1.208168     0.631346     0.787480     0.453615     0.380189     0.007202     0.271327     0.271327     0.271734     2.071278    41.786013    42.021225    41.525784    41.786841  5.291959e+07     0.028021      0.112777  1034.017927
min     -12.000000    -4.550000    -4.970000    -2.720000    -2.740000     0.000000     0.000000     0.000000     0.000000   -26.524400    55.472059    55.574208    51.709551    54.569736  2.404830e+07     0.000000      0.000000  1829.080000
25%      -0.430000    -0.360000    -0.330000    -0.230000    -0.200000     0.000000     0.000000     0.000000     0.000000    -0.372406   122.872769   124.133498   121.650088   123.003281  5.761422e+07     0.000000      0.000000  2381.642500
50%       0.070000     0.000000    -0.020000     0.010000    -0.010000     0.001000     0.000000     0.000000     0.000000    -0.095002   147.627858   149.251860   146.196051   147.771301  7.875405e+07     0.000000      0.000000  2951.235000
75%       0.590000     0.350000     0.310000     0.250000     0.190000     0.009000     0.000000     0.000000     0.000000     0.151029   173.652050   175.598158   172.271674   173.622738  1.093357e+08     0.000000      0.000000  4155.500000
max      11.350000     5.720000     6.730000     4.210000     2.520000     0.022000     1.000000     1.000000     1.000000     9.440280   236.206595   237.490005   234.449997   236.479996  4.265100e+08     0.250000      4.000000  5864.670000

In [43]:
df_cleaned.shape

(2517, 42)

In [44]:
# Drop columns that contain only NaN and 0.0 values
df = df.drop(columns=[col for col in df.columns if df[col].isna().all() or (df[col] == 0.0).all()])

In [45]:
df = df.apply(lambda col: pd.to_numeric(col.replace('.', np.nan), errors='coerce')).fillna(0.0)

In [46]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7604 entries, 2004-01-01 to 2024-10-25
Data columns (total 42 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Mkt-RF          7604 non-null   float64
 1   SMB             7604 non-null   float64
 2   HML             7604 non-null   float64
 3   RMW             7604 non-null   float64
 4   CMA             7604 non-null   float64
 5   RF              7604 non-null   float64
 6   DGS10           7604 non-null   float64
 7   RIFSPPFAAD90NB  7604 non-null   float64
 8   DGS1            7604 non-null   float64
 9   CBETHUSD        7604 non-null   float64
 10  DBAA            7604 non-null   float64
 11  USRECDP         7604 non-null   float64
 12  USRECD          7604 non-null   float64
 13  DCPN3M          7604 non-null   float64
 14  DCPF1M          7604 non-null   float64
 15  DAAA            7604 non-null   float64
 16  T10Y3M          7604 non-null   float64
 17  BAMLH0A0HYM2    7604 non-null   float64
 18  T10YIE          7604 non-null   float64
 19  DHHNGSP         7604 non-null   float64
 20  AMERIBOR        7604 non-null   float64
 21  USRECDM         7604 non-null   float64
 22  CBBTCUSD        7604 non-null   float64
 23  DEXUSUK         7604 non-null   float64
 24  DCOILWTICO      7604 non-null   float64
 25  VIXCLS          7604 non-null   float64
 26  DEXJPUS         7604 non-null   float64
 27  DEXUSEU         7604 non-null   float64
 28  T5YIE           7604 non-null   float64
 29  OBMMIJUMBO30YF  7604 non-null   float64
 30  NIKKEI225       7604 non-null   float64
 31  BAMLH0A0HYM2EY  7604 non-null   float64
 32  DCOILBRENTEU    7604 non-null   float64
 33  ads_index       7604 non-null   float64
 34  open            7604 non-null   float64
 35  high            7604 non-null   float64
 36  low             7604 non-null   float64
 37  close           7604 non-null   float64
 38  volume          7604 non-null   float64
 39  dividends       7604 non-null   float64
 40  stock_splits    7604 non-null   float64
 41  SP500           7604 non-null   float64
dtypes: float64(42)
memory usage: 2.5 MB
None

In [47]:
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.expand_frame_repr', False)  # Prevent wrapping to a new line

In [48]:
# Drop the 'dividends' and 'stock_splits' columns
df = df.drop(columns=['dividends', 'stock_splits'])

In [49]:
# List of columns to check for NaN values
columns_to_check = ['open', 'high', 'low', 'close', 'volume', 'SP500']

# Remove rows where all specified columns are NaN
df_cleaned = df.dropna(subset=columns_to_check, how='all')

In [50]:
df_cleaned.shape

(7604, 40)

In [51]:
# Step 3: Remove columns with only 0.0 and NaN values
df_cleaned= df_cleaned.loc[:, ~(df_cleaned.isna().all() | (df_cleaned == 0.0).all())]

# Display the cleaned DataFrame
# print(df_cleaned)

In [52]:
# Check the data types of all columns
print(df_cleaned.dtypes)

Mkt-RF            float64
SMB               float64
HML               float64
RMW               float64
CMA               float64
RF                float64
DGS10             float64
RIFSPPFAAD90NB    float64
DGS1              float64
CBETHUSD          float64
DBAA              float64
USRECDP           float64
USRECD            float64
DCPN3M            float64
DCPF1M            float64
DAAA              float64
T10Y3M            float64
BAMLH0A0HYM2      float64
T10YIE            float64
DHHNGSP           float64
AMERIBOR          float64
USRECDM           float64
CBBTCUSD          float64
DEXUSUK           float64
DCOILWTICO        float64
VIXCLS            float64
DEXJPUS           float64
DEXUSEU           float64
T5YIE             float64
OBMMIJUMBO30YF    float64
NIKKEI225         float64
BAMLH0A0HYM2EY    float64
DCOILBRENTEU      float64
ads_index         float64
open              float64
high              float64
low               float64
close             float64
volume            float64
SP500             float64
dtype: object

In [53]:
df_cleaned["tomorrow"] = df_cleaned["close"].shift(-1)

In [54]:
df_cleaned.shape

(7604, 41)

In [55]:
# List of columns to check for NaN values
columns_to_check = ['open', 'high', 'low', 'close', 'volume', 'SP500']
# Step 2: Remove rows where any of the specified columns are 0.0
df_cleaned = df_cleaned[~df_cleaned[columns_to_check].isin([0.0]).any(axis=1)]

# Display the cleaned DataFrame
print(df_cleaned)

            Mkt-RF   SMB   HML   RMW   CMA     RF  DGS10  RIFSPPFAAD90NB  DGS1  CBETHUSD  DBAA  USRECDP  USRECD  DCPN3M  DCPF1M  DAAA  T10Y3M  BAMLH0A0HYM2  T10YIE  DHHNGSP  AMERIBOR  USRECDM  CBBTCUSD  DEXUSUK  DCOILWTICO  VIXCLS  DEXJPUS  DEXUSEU  T5YIE  OBMMIJUMBO30YF  NIKKEI225  BAMLH0A0HYM2EY  DCOILBRENTEU  ads_index        open        high         low       close       volume    SP500    tomorrow
date
2019-10-28    0.62  0.28 -0.24  0.01 -0.04  0.007   1.85            1.77  1.60    181.87  4.01      0.0     0.0    1.78    0.00  3.08    0.20          3.85    1.64     2.49  1.860921      0.0   9221.96   1.2860       55.60   13.11   109.02   1.1094   1.53           3.950   22867.27            5.57         60.39  -0.670693   59.853616   60.296314   59.684279   60.247932   96572800.0  3039.42   58.854519
2019-10-29   -0.13  0.40  0.50 -0.06  0.10  0.007   1.84            1.84  1.59    190.93  3.99      0.0     0.0    1.73    1.79  3.07    0.21          3.86    1.61     2.61  1.867621      0.0   9431.27   1.2905       55.34   13.20   108.83   1.1117   1.51           3.941   22974.13            5.56         61.05  -0.633029   60.228575   60.417265   58.680346   58.854519  142839600.0  3036.89   58.847271
2019-10-30    0.27 -0.64 -1.16 -0.48 -0.02  0.007   1.78            1.83  1.59    183.63  3.95      0.0     0.0    1.75    1.73  3.07    0.16          3.96    1.57     2.71  1.865871      0.0   9175.77   1.2872       54.85   12.33   108.88   1.1123   1.47           3.992   22843.12            5.63         60.22  -0.592919   59.210137   59.340771   58.351356   58.847271  124522000.0  3046.77   60.177776
2019-10-31   -0.38 -0.34 -0.43 -0.28  0.19  0.007   1.69            1.71  1.53    182.06  3.87      0.0     0.0    1.67    1.66  2.99    0.15          4.15    1.54     2.73  1.632630      0.0   9146.75   1.2939       54.02   13.22   108.09   1.1155   1.44           3.898   22927.04            5.73         59.30  -0.550348   59.810074   60.276961   57.395800   60.177776  139162000.0  3037.56   61.885677
2019-11-01    1.08  0.65  0.84 -0.18  0.14  0.006   1.73            1.76  1.53    183.55  3.89      0.0     0.0    1.57    1.64  3.02    0.21          4.09    1.59     2.54  1.617550      0.0   9268.00   1.2950       56.04   12.30   108.16   1.1169   1.50           3.991   22850.77            5.71         60.17  -0.505299   60.366473   61.912284   60.274549   61.885677  151125200.0  3066.91    0.000000
...            ...   ...   ...   ...   ...    ...    ...             ...   ...       ...   ...      ...     ...     ...     ...   ...     ...           ...     ...      ...       ...      ...       ...      ...         ...     ...      ...      ...    ...             ...        ...             ...           ...        ...         ...         ...         ...         ...          ...      ...         ...
2024-10-14    0.00  0.00  0.00  0.00  0.00  0.000   0.00            0.00  0.00   2606.63  0.00      0.0     0.0    0.00    0.00  0.00    0.00          2.97    0.00     0.00  4.890710      0.0  67056.60   0.0000       76.11   19.70     0.00   0.0000   0.00           0.000       0.00            6.89         78.47   0.000000  228.699997  231.729996  228.600006  231.300003   39882100.0  5859.85  233.850006
2024-10-15    0.00  0.00  0.00  0.00  0.00  0.000   4.03            0.00  4.18   2610.54  5.56      0.0     0.0    4.62    4.82  4.86   -0.70          2.93    2.28     2.37  4.894030      0.0  67608.44   1.3083       71.22   20.64   149.22   1.0899   2.22           6.718   39910.55            6.82         73.68   0.000000  233.610001  237.490005  232.369995  233.850006   64751400.0  5815.26  231.779999
2024-10-16    0.00  0.00  0.00  0.00  0.00  0.000   4.02            4.58  4.17   2604.91  5.53      0.0     0.0    0.00    0.00  4.84   -0.70          2.90    2.27     0.00  4.893840      0.0  67402.33   1.3000        0.00   19.58   149.71   1.0873   2.19           6.740   39180.30            6.78          0.00   0.000000  231.600006  232.119995  229.839996  231.779999   34082200.0  5842.47  232.149994
2024-10-17    0.00  0.00  0.00  0.00  0.00  0.000   4.09            0.00  4.21   2641.98  5.62      0.0     0.0    4.62    0.00  4.94   -0.65          2.89    2.30     0.00  4.894470      0.0  68426.11   1.3008        0.00   19.11   150.12   1.0837   2.22           6.783   38911.19            6.81          0.00   0.000000  233.429993  233.850006  230.520004  232.149994   32993800.0  5841.47  235.000000
2024-10-18    0.00  0.00  0.00  0.00  0.00  0.000   4.08            0.00  4.19   2647.97  5.61      0.0     0.0    4.49    0.00  4.94   -0.65          2.88    2.31     0.00  4.897280      0.0  68363.73   1.3022        0.00   18.03   149.58   1.0854   2.23           6.879   38981.75            6.79          0.00   0.000000  236.179993  236.179993  234.009995  235.000000   46431500.0  5864.67    0.000000

[1253 rows x 41 columns]

In [56]:
df_cleaned.shape

(1253, 41)

In [57]:
df_cleaned['close_lag1'] = df_cleaned['close'].shift(1)
df_cleaned['close_lag2'] = df_cleaned['close'].shift(2)

In [58]:
y = df_cleaned['tomorrow']  # This is what you want to predict

# Define the features (X), including lagged close prices and other columns
X = df_cleaned[['Mkt-RF', 'SMB', 'HML', 'RMW', 'CMA', 'RF', 'DGS10', 'RIFSPPFAAD90NB',
         'DGS1', 'CBETHUSD', 'DBAA', 'USRECDP', 'USRECD', 'DCPN3M', 'DCPF1M',
         'DAAA', 'T10Y3M', 'BAMLH0A0HYM2', 'T10YIE', 'DHHNGSP', 'AMERIBOR',
         'USRECDM', 'CBBTCUSD', 'DEXUSUK', 'DCOILWTICO', 'VIXCLS', 'DEXJPUS',
         'DEXUSEU', 'T5YIE', 'OBMMIJUMBO30YF', 'NIKKEI225', 'BAMLH0A0HYM2EY',
         'DCOILBRENTEU', 'ads_index', 'open', 'high', 'low', 'volume', 'SP500',
         'close', 'close_lag1', 'close_lag2']]

In [59]:
column_list = X.columns.tolist()
print(column_list)

['Mkt-RF', 'SMB', 'HML', 'RMW', 'CMA', 'RF', 'DGS10', 'RIFSPPFAAD90NB', 'DGS1', 'CBETHUSD', 'DBAA', 'USRECDP', 'USRECD', 'DCPN3M', 'DCPF1M', 'DAAA', 'T10Y3M', 'BAMLH0A0HYM2', 'T10YIE', 'DHHNGSP', 'AMERIBOR', 'USRECDM', 'CBBTCUSD', 'DEXUSUK', 'DCOILWTICO', 'VIXCLS', 'DEXJPUS', 'DEXUSEU', 'T5YIE', 'OBMMIJUMBO30YF', 'NIKKEI225', 'BAMLH0A0HYM2EY', 'DCOILBRENTEU', 'ads_index', 'open', 'high', 'low', 'volume', 'SP500', 'close', 'close_lag1', 'close_lag2']

In [60]:
X[['close_lag1', 'close_lag2']] = X[['close_lag1', 'close_lag2']].fillna(0)

c:\Users\kandi\anaconda3\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [72]:
X1 = df_cleaned[['Mkt-RF', 'SP500', 'VIXCLS', 'DEXJPUS', 'NIKKEI225', 'T10Y3M', 'ads_index',
                'open', 'high', 'low', 'close']]

In [73]:
X_cleaned = X1.copy()

# Convert any remaining `datetime64` columns to Unix timestamp format as integers
for col in X_cleaned.columns:
    if X_cleaned[col].dtype == 'datetime64[ns]':
        X_cleaned[col] = X_cleaned[col].astype('int64') // 10**9  # Convert to Unix timestamp (seconds)

# Check all data types to ensure compatibility
print("Data types after explicit conversion:")
print(X_cleaned.dtypes)

Data types after explicit conversion:
Mkt-RF       float64
SP500        float64
VIXCLS       float64
DEXJPUS      float64
NIKKEI225    float64
T10Y3M       float64
ads_index    float64
open         float64
high         float64
low          float64
close        float64
dtype: object

In [75]:
# Save the DataFrame to a CSV file
X_cleaned.to_csv("cleaned_data.csv", index=False)

# Reload the data from CSV
import pandas as pd
X_cleaned_reloaded = pd.read_csv("cleaned_data.csv")

# Confirm that no timestamp types remain after reloading
print("Data types after reloading from CSV:")
print(X_cleaned_reloaded.dtypes)

Data types after reloading from CSV:
Mkt-RF       float64
SP500        float64
VIXCLS       float64
DEXJPUS      float64
NIKKEI225    float64
T10Y3M       float64
ads_index    float64
open         float64
high         float64
low          float64
close        float64
dtype: object

In [ ]:
import tensorflow_data_validation as tfdv

# Generate statistics from the reloaded DataFrame
data_stats = tfdv.generate_statistics_from_dataframe(X_cleaned_reloaded)

# Infer schema from the generated statistics
schema = tfdv.infer_schema(statistics=data_stats)

tfdv.display_schema(schema)

               Type  Presence Valency Domain
Feature name
'Mkt-RF'      FLOAT  required              -
'SP500'       FLOAT  required              -
'VIXCLS'      FLOAT  required              -
'DEXJPUS'     FLOAT  required              -
'NIKKEI225'   FLOAT  required              -
'T10Y3M'      FLOAT  required              -
'ads_index'   FLOAT  required              -
'open'        FLOAT  required              -
'high'        FLOAT  required              -
'low'         FLOAT  required              -
'close'       FLOAT  required              -

In [77]:
# Validate a new batch of data against the schema
validation_result = tfdv.validate_statistics(data_stats, schema)
tfdv.display_anomalies(validation_result)

**Data Schema Generation:** You generated the schema using TFDV, which describes the types, presence, and expected properties of each feature.

**Data Statistics Generation:** You generated statistics from the data, giving you insights into the distribution, mean, standard deviation, and other statistics for each feature.

**Data Validation:**  You validated the current data against the generated schema. The “No anomalies found” message indicates that the data conforms to the schema, with no issues in types, missing values, or ranges.