In [8]:
import pandas as pd
import glob

In [9]:
#read all the files in the directory data/fred_variables
files = glob.glob('data/fred_variables/*.csv')
files

['data/fred_variables/DGS10.csv',
 'data/fred_variables/RIFSPPFAAD90NB.csv',
 'data/fred_variables/DGS1.csv',
 'data/fred_variables/CBETHUSD.csv',
 'data/fred_variables/DBAA.csv',
 'data/fred_variables/USRECDP.csv',
 'data/fred_variables/USRECD.csv',
 'data/fred_variables/DCPN3M.csv',
 'data/fred_variables/DCPF1M.csv',
 'data/fred_variables/DAAA.csv',
 'data/fred_variables/T10Y3M.csv',
 'data/fred_variables/BAMLH0A0HYM2.csv',
 'data/fred_variables/T10YIE.csv',
 'data/fred_variables/DHHNGSP.csv',
 'data/fred_variables/AMERIBOR.csv',
 'data/fred_variables/USRECDM.csv',
 'data/fred_variables/CBBTCUSD.csv',
 'data/fred_variables/DEXUSUK.csv',
 'data/fred_variables/DCOILWTICO.csv',
 'data/fred_variables/VIXCLS.csv',
 'data/fred_variables/DEXJPUS.csv',
 'data/fred_variables/DEXUSEU.csv',
 'data/fred_variables/T5YIE.csv',
 'data/fred_variables/OBMMIJUMBO30YF.csv',
 'data/fred_variables/NIKKEI225.csv',
 'data/fred_variables/BAMLH0A0HYM2EY.csv',
 'data/fred_variables/DCOILBRENTEU.csv']

In [22]:
df = pd.read_csv(files[0])
df.dtypes

DATE     object
DGS10    object
dtype: object

In [23]:
df["DATE"] = pd.to_datetime(df["DATE"])
df.dtypes

DATE     datetime64[ns]
DGS10            object
dtype: object

In [24]:
df.tail(3)

            DATE DGS10
16381 2024-10-16  4.02
16382 2024-10-17  4.09
16383 2024-10-18  4.08

In [33]:
res = pd.read_csv(files[0])
res['DATE'] = pd.to_datetime(res['DATE'], format='%Y-%m-%d')
for file in files[1:]:
    #convert DATE to date
    df = pd.read_csv(file)
    df['DATE'] = pd.to_datetime(df['DATE'], format='%Y-%m-%d')
    res = pd.merge(res, df, on='DATE', how='outer')
res = res.sort_values('DATE')
res["DATE"] = res["DATE"].dt.strftime('%Y-%m-%d')
print(res)

             DATE DGS10 RIFSPPFAAD90NB  DGS1 CBETHUSD  DBAA  USRECDP  USRECD  \
17265  1854-12-01   NaN            NaN   NaN      NaN   NaN      0.0     1.0
17266  1854-12-02   NaN            NaN   NaN      NaN   NaN      0.0     1.0
17267  1854-12-03   NaN            NaN   NaN      NaN   NaN      0.0     1.0
17268  1854-12-04   NaN            NaN   NaN      NaN   NaN      0.0     1.0
17269  1854-12-05   NaN            NaN   NaN      NaN   NaN      0.0     1.0
...           ...   ...            ...   ...      ...   ...      ...     ...
16383  2024-10-18  4.08            NaN  4.19  2647.97  5.61      0.0     0.0
17262  2024-10-19   NaN            NaN   NaN  2746.22   NaN      0.0     0.0
17263  2024-10-20   NaN            NaN   NaN  2665.35   NaN      0.0     0.0
17264  2024-10-21   NaN            NaN   NaN  2667.59  5.73      NaN     NaN
62052  2024-10-22   NaN            NaN   NaN      NaN   NaN      NaN     NaN

      DCPN3M DCPF1M  ... DEXUSUK DCOILWTICO VIXCLS DEXJPUS DEXUSEU T5YIE  \
17265    NaN    NaN  ...     NaN        NaN    NaN     NaN     NaN   NaN
17266    NaN    NaN  ...     NaN        NaN    NaN     NaN     NaN   NaN
17267    NaN    NaN  ...     NaN        NaN    NaN     NaN     NaN   NaN
17268    NaN    NaN  ...     NaN        NaN    NaN     NaN     NaN   NaN
17269    NaN    NaN  ...     NaN        NaN    NaN     NaN     NaN   NaN
...      ...    ...  ...     ...        ...    ...     ...     ...   ...
16383   4.49    NaN  ...  1.3022        NaN  18.03  149.58  1.0854  2.23
17262    NaN    NaN  ...     NaN        NaN    NaN     NaN     NaN   NaN
17263    NaN    NaN  ...     NaN        NaN    NaN     NaN     NaN   NaN
17264    NaN    NaN  ...     NaN        NaN  18.37     NaN     NaN  2.23
62052    NaN    NaN  ...     NaN        NaN    NaN     NaN     NaN   NaN

       OBMMIJUMBO30YF NIKKEI225 BAMLH0A0HYM2EY DCOILBRENTEU
17265             NaN       NaN            NaN          NaN
17266             NaN       NaN            NaN          NaN
17267             NaN       NaN            NaN          NaN
17268             NaN       NaN            NaN          NaN
17269             NaN       NaN            NaN          NaN
...               ...       ...            ...          ...
16383           6.879  38981.75           6.79          NaN
17262             NaN       NaN            NaN          NaN
17263             NaN       NaN            NaN          NaN
17264           6.763   38954.6           6.88          NaN
62052             NaN  38411.96            NaN          NaN

[62053 rows x 28 columns]

In [34]:
#save the result to a csv file
res.to_csv('data/fred_variables.csv', index=False)