### 1. Loading yfinance data

In [ ]:
#!pip install yfinance

In [2]:
import yfinance as yf
import pandas as pd
from datetime import datetime

def fetch_stock_data(company_name):
    try:
        # Attempt to download data for the provided company name (ticker)
        ticker = yf.Ticker(company_name)
        stock_data = ticker.history(period="max")  # Fetching all data since listing
        
        # If stock_data is empty, company is either delisted or doesn't exist
        if stock_data.empty:
            print(f"The company '{company_name}' is not currently listed or has been delisted.")
            return None
        
        # Return the fetched stock data
        print(f"Fetching stock data for {company_name}")
        return stock_data

    except Exception as e:
        # If an error occurs, inform the user and suggest retrying
        print(f"Error: The company '{company_name}' is not listed on the stock market. Please try again.")
        return None


# Example usage:
company_name = input("Enter the company's stock ticker symbol: ")
stock_data = fetch_stock_data(company_name)

if stock_data is not None:
    print(stock_data)

Enter the company's stock ticker symbol: AAPL
Fetching stock data for AAPL
                                 Open        High         Low       Close  \
Date
1980-12-12 00:00:00-05:00    0.098943    0.099373    0.098943    0.098943
1980-12-15 00:00:00-05:00    0.094211    0.094211    0.093781    0.093781
1980-12-16 00:00:00-05:00    0.087328    0.087328    0.086898    0.086898
1980-12-17 00:00:00-05:00    0.089049    0.089479    0.089049    0.089049
1980-12-18 00:00:00-05:00    0.091630    0.092061    0.091630    0.091630
...                               ...         ...         ...         ...
2024-10-11 00:00:00-04:00  229.300003  229.410004  227.339996  227.550003
2024-10-14 00:00:00-04:00  228.699997  231.729996  228.600006  231.300003
2024-10-15 00:00:00-04:00  233.610001  237.490005  232.369995  233.850006
2024-10-16 00:00:00-04:00  231.600006  232.119995  229.839996  231.779999
2024-10-17 00:00:00-04:00  233.429993  233.850006  230.520004  232.149994

                              Volume  Dividends  Stock Splits
Date
1980-12-12 00:00:00-05:00  469033600        0.0           0.0
1980-12-15 00:00:00-05:00  175884800        0.0           0.0
1980-12-16 00:00:00-05:00  105728000        0.0           0.0
1980-12-17 00:00:00-05:00   86441600        0.0           0.0
1980-12-18 00:00:00-05:00   73449600        0.0           0.0
...                              ...        ...           ...
2024-10-11 00:00:00-04:00   31759200        0.0           0.0
2024-10-14 00:00:00-04:00   39882100        0.0           0.0
2024-10-15 00:00:00-04:00   64751400        0.0           0.0
2024-10-16 00:00:00-04:00   34082200        0.0           0.0
2024-10-17 00:00:00-04:00   32978900        0.0           0.0

[11054 rows x 7 columns]

In [3]:
stock_data.head(5)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-12-12 00:00:00-05:00,0.098943,0.099373,0.098943,0.098943,469033600,0.0,0.0
1980-12-15 00:00:00-05:00,0.094211,0.094211,0.093781,0.093781,175884800,0.0,0.0
1980-12-16 00:00:00-05:00,0.087328,0.087328,0.086898,0.086898,105728000,0.0,0.0
1980-12-17 00:00:00-05:00,0.089049,0.089479,0.089049,0.089049,86441600,0.0,0.0
1980-12-18 00:00:00-05:00,0.091630,0.092061,0.091630,0.091630,73449600,0.0,0.0

### 2. FAMA French 5-Factor Dataset

In [4]:
#!pip install pandas-datareader

In [5]:
import pandas_datareader.data as web

def fetch_fama_french_five_factors():
    try:
        # Fetch Fama-French five-factor data from Kenneth French's data library
        ff_data = web.DataReader("F-F_Research_Data_5_Factors_2x3", "famafrench")
        
        # The data comes in multiple tables, but we'll extract the main factor data (first table)
        factors = ff_data[0]
        
        # Print a summary of the data
        print(factors.head())
        
        return factors
    except Exception as e:
        print(f"Error fetching Fama-French five-factor data: {e}")

# Fetch and print the Fama-French five-factor data
fama_french_factors = fetch_fama_french_five_factors()

         Mkt-RF   SMB   HML   RMW   CMA    RF
Date
2019-10    2.06  0.27 -1.90  0.43 -0.95  0.16
2019-11    3.88  0.45 -1.99 -1.63 -1.25  0.12
2019-12    2.77  0.97  1.78 -0.02  1.23  0.14
2020-01   -0.11 -4.40 -6.25 -1.20 -2.30  0.13
2020-02   -8.13  0.04 -3.80 -1.49 -2.52  0.12

/var/folders/_k/hb8y9wrj6d723x48prtt8lb80000gn/T/ipykernel_6724/1546264937.py:6: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  ff_data = web.DataReader("F-F_Research_Data_5_Factors_2x3", "famafrench")
/var/folders/_k/hb8y9wrj6d723x48prtt8lb80000gn/T/ipykernel_6724/1546264937.py:6: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  ff_data = web.DataReader("F-F_Research_Data_5_Factors_2x3", "famafrench")